.c1{
    border-radius: 50%;
}
.conteneur{
    display: flex;
}
.gauche{
    height: 100%;
    width: 15%;
    background-color: cornflowerblue;
    padding-left: 03%;
}
.droite{
    height: 100%;
    width: 70%;
    padding-left: 05%;
}
h2{
    color: brown;
}

